<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#151515",
      "text": "#ffffff"
    },
    "button": {
      "background": "#63c0f5",
      "text": "#ffffff"
    }
  },
  "content": {
    "message": "FYI, we serve cookies. Sorry, you will have to get your own milk",
    "dismiss": "I Accept"
  }
})});
</script>