<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
  <body>
    <header>
      <div class="container" >
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          <a href="{{ site.baseurl }}/" style='margin-right:10px'>Home</a>
          <a href="{{ site.baseurl }}/whoami" style='margin-right:10px'>whoami</a>
          {% include header.html %}
          {% include search-lunr.html %}
      </div>
    </header>
      <div class="container">
        <section id="main_content">
          <h1 style="margin-bottom: 1px;">{{ page.title }}</h1>
          <h3>{{page.date | date_to_string}} | {% include read_time.html content=page.content %} | Category: <a class="post-categories">
            {% if post %}
              {% assign categories = post.categories %}
            {% else %}
              {% assign categories = page.categories %}
            {% endif %}
            {% for category in categories %}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
          </a>
        </h3>
          {{ content }}
        </section>
      </div>
  </body>
</html>
